@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100&family=Inter:wght@200;400;600;800&display=swap');

:root{
  --chat-background: #165696;
  --ai-background: #21609f;
  --chat-choice-background: #012243;
  --chat-choice-border: #72b7fb;
  --form-background: #033c75;
  --text-background: #2c73ba;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  background: var(--chat-background);
  overflow-y: hidden;
}

#app {
  background-color: var(--chat-background);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#chat_choice{
  flex: 1;
  background-color: var(--chat-choice-background);
  width: 5%;
  height: 100vh;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

#chat_choice button{
  font-size: 20px;
  color: #FFFFFF;
  border: 1px solid var(--chat-choice-border);
  border-radius: 8px;
  padding: 8px;
  margin: 12px auto;
  width: 150px;
}

@media screen and (max-width: 960px){
  #chat_choice{
    flex: 1.5;
  } 
}

@media screen and (max-width: 768px){
  #chat_choice{
    display: none;
  }
}

#chat{
  flex: 6;
  background: var(--chat-background);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#chat_container {
  width: 80%;
  height: 100%;
  overflow-y: hidden;

  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 30px auto;

  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-bottom: 20px;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: scroll;

  word-wrap: break-word;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar{
  display: none;
}

.wrapper {
  padding: 30px;
}

.ai {
  background: var(--ai-background);
}

.chatbox {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.profile {
  width: 45px;
  height: 45px;
  border-radius: 5px;

  background-color: #f8ca75;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background-color: #000000;
}

.profile img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.ai .message{
  color: #ffffff;
}

.message {
  flex: 1;
  
  color: #ffffff;
  font-size: 22px;
  margin-left: 20px;
  padding-left: 15px;
  width: fit-content;

  overflow-x: hidden;

  -ms-overflow-style: none;
}

/* hides scrollbar */
.message::-webkit-scrollbar{
  display: none;
}

#form {
  border: 1px solid var(--chat-choice-border);
  width: 80%;
  padding: 7px;
  background-color: var(--form-background);
}

form {
  width: 100%;
  margin: 0;
  padding: 10px;
  background: var(--text-background);

  display: flex;
  flex-direction: row;
  gap: 0;
}
textarea {
  width: 100%;

  color: #ffffff;
  font-size: 20px;

  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
  resize: none;

  overflow-y: hidden;
}
::placeholder {
  color: #ffffff;
  opacity: 0.7;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

form img {
  width: 30px;
  height: 30px;
}

#emoji_keyboard{
  display: none;
  width: 80%;
}


#emoji_input_outer{
  border: 1px solid #72b7fb;
  background-color: #033c75;
  height: 80px;
  padding: 7px;
  margin: 10px 0;
}

#emoji_input{
  height: 100%;
  padding: 10px;
  background: #2c73ba;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

#erase_button{
  background-color: #ffffff;
  border-radius: 8px;
  width: 42px;
  height: 40px;
  margin-right: 18px;
  font-size: 20px;
}

#emoji_button{
  display: flex;
  justify-content: flex-end;
  margin: 15px 0;
}

#reset_button{
  background-color: #ffffff;
  border-radius: 8px;
  width: 45px;
  height: 40px;
  margin-right: 18px;
  font-size: 18px;
}

#create_story_button{
  background-color: #ffffff;
  border-radius: 8px;
  width: 120px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  margin-right: 0px;
  padding: 0 10px;
}

#all_icons{
  margin: 25px 0;
  border: 1px solid #ffffff;
  padding: 10px 4.5%;
}

#keyboard{
  display: flex;
  flex-direction: column;
  justify-content: center;
}