.icon{
    color: #ffffff;
    margin: 1.1%;
    padding: 0.4%;
    font-size: 130%;
    opacity: 0.9;
    border-radius: 50%;
}

.icon:hover{
    background-color: #295b9d;
    font-size: 137%;
    margin: 1.05%;
    cursor: pointer;
}