@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root{
    --background: #1B63AC;
    --pure-white: #ffffff;
    --black: #000000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}
body{
    background: var(--background);
    height: 100vh;
    overflow-y: hidden;
}
.container{
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome-img{
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-img{
    width: 80%;
    object-fit: cover;
}
.welcome-msg{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-right: 5%;
}
.frame{
    background-color: var(--pure-white);
    border-radius: 10px;
    padding: 7% 5%;
    gap: 20px;
}
.welcome-text{
    color: var(--black);
    text-align: center;
    font-size: 20px;
    margin: 10px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
}
#signup_btn{
    background-color: var(--background);
    color: var(--pure-white);
    font-size: 17px;
    margin-right: 10px;
    padding: 8px;
    border-radius: 5px;
    border: none;
}
#signup_btn:hover{
    background-color: #1a548e;
    cursor: pointer;
}
#signup_btn:active{
    border: 1px solid black;
}
#login_btn{
    background-color: var(--background);
    color: var(--pure-white);
    font-size: 17px;
    margin-left: 10px;
    padding: 8px;
    border-radius: 5px;
    border: none;
}
#login_btn:hover{
    background-color: #1a548e;
    cursor: pointer;
}
#login_btn:active{
    border: 1px solid black;
}
@media screen and (max-width: 1260px){
    .container{
        padding-top: 10%;
    }
    .welcome-img{
        flex: 5;
    }
    .welcome-msg{
        flex: 4;
    }
}
@media screen and (max-width: 976px){
    .container{
        padding-top: 15%;
    }
    .welcome-text{
        font-size: 19px;
    }
    .login-btn{
        font-size: 17px;
    }
    .signup-btn{
        font-size: 17px;
    }
}
@media screen and (max-width: 830px){
    .container{
        padding-top: 25%;
    }
    .welcome-text{
        font-size: 17px;
    }
    .login-btn{
        font-size: 15px;
    }
    .signup-btn{
        font-size: 15px;
    }
}
@media screen and (max-width: 678px){
    .container{
        padding-top: 35%;
        padding-right: 5%;
    }
    .welcome-text{
        font-size: 16px;
    }
    .login-btn{
        font-size: 14px;
    }
    .signup-btn{
        font-size: 14px;
    }
}
